* {
    font-family: 'VT323', monospace;
    background-color: black;
    color: white;
   }

h1{
    font-size: 100px;
    color: greenyellow;
}

h5{
    color:greenyellow;
}

.modal{
    background-color: black;
    border-color: greenyellow;
}

.container-fluid{
    width: 460px !important;
    height: 480px !important;
    float: left;
    padding: 0px;
}
.container-ships{
    width:20%;
    margin-left: 67%;
}

.col-xs-1-10,
.col-sm-1-10 {
  position: relative;
  min-height: 1px;
}

.col-xs-1-10 {
  width: 10%;
  float: left;
  height: 0;
  padding-bottom: 10%;
}

.ship-image{
    -webkit-filter: invert(1);
   filter: invert(1);
   background: rgba(0, 0, 0, 0);
   height: 48px;
}

#carrier{
    width: 215px;
}
#battleship{
    width: 170px;
}

#cruiser{
    width: 125px;
}

#submarine{
    width: 125px;
}

#destroyer{
    width: 80px;
}

.ship-even-long{
    transform-origin: 33%;
}

.ship-even-short{
    transform-origin: 18%;
}

